ENVIRONMENT=dev|uat|prod

# ==============
# Application
# ==============

# Auth
AUTH_ENABLED=true|false
OAUTH2_ISSUER_URI=oidc_issuer_uri
OAUTH2_JWK_SET_URI=jwk_set_uri_fallback # use only if auth client does not support the issuer uri
OAUTH2_AUDIENCES=client_id
OAUTH2_ROLES_CLAIM=roles_claim

# Database
DATABASE_NAME=database_name
DATABASE_USER=database_user
DATABASE_PASSWORD=database_password
DATABASE_URL=postgresql://postgres:5432/database_name

# ==============
# Keycloak
# ==============

# Admin
KEYCLOAK_HOSTNAME=keycloak_hostname
KEYCLOAK_ADMIN=kaycloack_user
KEYCLOAK_ADMIN_PASSWORD=kaycloack_password

# Database
KEYCLOAK_DATABASE_NAME=keycloak_database_name
KEYCLOAK_DATABASE_USER=keycloak_database_user
KEYCLOAK_DATABASE_PASSWORD=keyloack_database_password
