ENVIRONMENT=dev|uat|prod

# Postgres
POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/database_name
SPRING_DATASOURCE_USERNAME=database_user
SPRING_DATASOURCE_PASSWORD=database_password
