ENVIRONMENT=dev|uat|prod

# Keycloak Admin
KEYCLOAK_HOSTNAME=keycloak_hostname
KEYCLOAK_ADMIN=kaycloack_user
KEYCLOAK_ADMIN_PASSWORD=kaycloack_password

# Keycloak Postgres
KEYCLOAK_POSTGRES_DB=keycloak_database_name
KEYCLOAK_POSTGRES_USER=keycloak_database_user
KEYCLOAK_POSTGRES_PASSWORD=keyloack_database_password

# Postgres
POSTGRES_DB=database_name
POSTGRES_USER=database_user
POSTGRES_PASSWORD=database_password

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/database_name
SPRING_DATASOURCE_USERNAME=database_user
SPRING_DATASOURCE_PASSWORD=database_password
