.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
  padding-top: 16px !important;
}

.full-width { width: 100%; }

.action-buttons { padding: 0 24px 24px; }
