<div class="layout-container" [class.is-mobile]="isMobile()">

    @if (sidebarLoading()) {
        <mat-progress-bar mode="indeterminate" />
    }

    <mat-sidenav-container class="sidebar-container">

        <mat-sidenav
            #sidebar
            class="sidebar"
            [mode]="isMobile() ? 'over' : 'side'"
            [opened]="!isMobile()"
            [disableClose]="!isMobile()"
            [fixedInViewport]="isMobile()"
            (opened)="onSidenavOpened()"
            (closed)="onSidenavClosed()">
            @if (sidebarError()) {
                <p class="sidebar-error">{{ sidebarError() }}</p>
            } @else {
                <app-sidebar (closeRequested)="sidebar.close()" />
            }
        </mat-sidenav>

            <mat-sidenav-content>

                <div class="main-content">

                    <mat-toolbar class="toolbar">
                        @if (isMobile()) {
                            <button mat-icon-button (click)="sidebar.toggle()" aria-label="Toggle menu">
                                <mat-icon>menu</mat-icon>
                            </button>
                        }
                    </mat-toolbar>

                    <app-bookmarks />
                </div>
                
            </mat-sidenav-content>

    </mat-sidenav-container>
</div>
