<div class="layout-container" [class.is-mobile]="isMobile()">

    <mat-toolbar class="toolbar">
        @if (isMobile()) {
        <button mat-icon-button (click)="sidebar.toggle()" aria-label="Toggle menu">
            <mat-icon>menu</mat-icon>
        </button>
        }
        <span class="app-name">Bookmark Saver</span>
    </mat-toolbar>

    <!-- Progress bar -->
    @if (sidebarLoading()) {
        <mat-progress-bar mode="indeterminate" />
    }

    <!-- Sidebar -->
    <mat-sidenav-container class="sidebar-container">

        <mat-sidenav
            #sidebar
            class="sidebar"
            [mode]="isMobile() ? 'over' : 'side'"
            [opened]="!isMobile()"
            [fixedInViewport]="isMobile()"
            [fixedTopGap]="56">
            @if (sidebarError()) {
                <p class="sidebar-error">{{ sidebarError() }}</p>
            } @else {
                <app-sidebar />
            }
        </mat-sidenav>

            <mat-sidenav-content>
                <div class="main-content">
                    <app-bookmarks />
                </div>
            </mat-sidenav-content>

    </mat-sidenav-container>
</div>
