.sidebar-section-title {
  margin: 16px 16px 4px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--mat-sys-outline);    // colore del tema Material 3
}

.sidebar-tag-list {
  padding: 8px 14px;

  .sidebar-tag-item {
    padding: 2px 4px;
    margin-bottom: 8px;
  }
}