<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <!-- Nodo foglia -->
    <mat-tree-node *matTreeNodeDef="let node"
                    matTreeNodePadding
                    [matTreeNodePaddingIndent]="12"
                    class="tree-node"
                    [class.selected]="isSelected(node)"
                    (click)="navigate(node)"
                    (keydown.enter)="navigate(node)"
                    (keydown.space)="$event.preventDefault(); navigate(node)">

        <span class="toggle-placeholder"></span>

        <mat-icon
            class="tag-icon"
            [class.selected]="isSelected(node)"
            [style.color]="node.tag.backgroundColor">
            label
        </mat-icon>
        <span class="tag-name">{{ node.tag.name }}</span>
        
        <button mat-icon-button class="tag-menu-btn"
                [class.always-visible]="isSelected(node)"
                [matMenuTriggerFor]="menu"
                [tabIndex]="isSelected(node) ? 0 : -1"
                (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu>
            <button mat-menu-item (click)="openEditDialog(node)">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item (click)="openDeleteDialog(node)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </mat-menu>
    </mat-tree-node>

    <!-- Nodo con figli -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChildren"
                    matTreeNodePadding
                    [matTreeNodePaddingIndent]="12"
                    class="tree-node"
                    [class.selected]="isSelected(node)"
                    (click)="navigate(node)"
                    (keydown.enter)="navigate(node)"
                    (keydown.space)="navigate(node)">

        <button mat-icon-button class="toggle-btn"
                matTreeNodeToggle
                (click)="$event.stopPropagation(); state.toggleTagExpansion(node.tag.id)">
            <mat-icon>{{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}</mat-icon>
        </button>

        <mat-icon
            class="tag-icon"
            [class.selected]="isSelected(node)"
            [style.color]="node.tag.backgroundColor">
            label
        </mat-icon>
        <span class="tag-name">{{ node.tag.name }}</span>

        <button mat-icon-button class="tag-menu-btn"
                [class.always-visible]="isSelected(node)"
                [matMenuTriggerFor]="menu"
                [tabIndex]="isSelected(node) ? 0 : -1"
                (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu>
            <button mat-menu-item (click)="openEditDialog(node)">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item (click)="openDeleteDialog(node)">
                <mat-icon>delete</mat-icon> Delete
            </button>
        </mat-menu>
    </mat-tree-node>

</mat-tree>